target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
spring-mvc-archetype/.settings/
spring-mvc-archetype/.classpath
spring-mvc-archetype/nb-configuration.xml
spring-mvc-archetype/.project
spring-mvc-archetype/src/main/webapp/WEB-INF/glassfish-web.xml
