/*********************************************************************************/
/* Login                                                                         */
/*********************************************************************************/


@media all and (max-width: 800px) {
    .submitbutton {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}