.submitbutton {
    cursor: pointer; 
    width: 10em; 
    padding: 1em; 
    margin-left: 15em;
}
.submitbutton:focus,  .submitbutton:hover{
    color: #fff;
    background: #426B81;
}

.registerlabel {
    display: block;
    float: left;
    margin-right: 1em;
    width: 1.8em;
    height: 1.8em;
    border: 5px solid #426B81; 
    /*background-color: #D35836;*/
}
#agb {
    display: none;
}
#agb:checked ~ label {
    background-color: #426B81;
}
