@charset "utf-8";
/* CSS Document */

/** * Reset CSS */ html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}


/*********************************************************************************/
/* Base                                                                          */
/*********************************************************************************/

@font-face {
    font-family: 'pt_sansregular';
    src: url('../font/PTS55F-webfont.eot');
    src: url('../font/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/PTS55F-webfont.woff') format('woff'),
         url('../font/PTS55F-webfont.ttf') format('truetype'),
         url('../font/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background-color: #fff;
    height: 100%;
    width: 100%;
    font-family: 'pt_sansregular', pt_sansregular, sans-serife;
}

// Get rid of the dotted line around buttons when using firefox
a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline : 0;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}

a {
    color: #426B81;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
    transition: all 0.5s;
}

a:hover, a:active, a:focus {
    color:#D35836;
    outline: 0;
}

h1 {
    font-size:4em;
    padding-bottom: 1em;
}

h2 {
    font-size:3em;
    padding-bottom: 1em;
}


/*********************************************************************************/
/* Common Classes                                                                 */
/*********************************************************************************/

.container  {
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 5em 0 5em 0;

}
.container p {
    font-size: 1.3em;
    line-height: 1.2em;
    letter-spacing: 0.1em;
}

.clear {
    clear: both;
}

.bold {
    font-weight: bold;
}

.labelblock {
    display: block;
    float: left;
    margin-right: 1em;
    width: 1.8em;
    height: 1.8em;
    border: 5px solid #426B81;
    -webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
}

.notransition {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

header {
    width: 100%;
    min-height: 40em;
}

header .img {
    background-image: url(../img/header.jpg);
    width: 100%;
    height: 40em;
    position: absolute;
    top: 0;
}

header h1, header h2{
    padding: 0;
    color: #fff;
    margin-left: 20%;
    text-transform: uppercase;
    line-height: 1.1em;
}
header h1 {
    margin-top: 2em;
    font-size: 5em;
}
header h2 {
    margin-top: 0.5em;
    font-size: 3em;
}

header span{
    display: inline-block;
    background-color: rgba(0,0,0,0.8);
    padding: 0 0.1em;
}


/*********************************************************************************/
/* Footer/Wrapper                                                                */
/*********************************************************************************/
#wrapper {
    min-height: 100%;
    margin-bottom: -5em;
}
#wrapper:after {
  content: "";
  display: block;
}
#wrapper:after, footer {
    height: 5em;
}

footer {
    width: 100%;   
    padding: 2em 4em 2em 4em;
    background-color: #262626;
    color: white;
    text-align: center;
}
footer a{
    color:#FFF;
    text-decoration:none;
}

/*********************************************************************************/
/* Form                                                                          */
/*********************************************************************************/

.forms {
    width: 40em;
}

input { 
    border: 5px solid #426B81;
    width: 100%;
    height: 4em;
    padding: 1em;
    margin-bottom: 2em;
    -webkit-transition: background-color 0.5s, color 0.5s;
    -moz-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
}

input[type="text"], input[type="password"] {
    display: block;
}

input[type="image"] {
	border: none;
	padding: 0em;
	width: 1em;
	height: 1em;
    margin-bottom: 0em;
}

input:focus, input:active {
    color: #fff;
    background: #426B81;
    outline: 0;
}

input[type="checkbox"] {
    width: auto;
    height: auto;
    margin-right: 1em;
}

/* Buttons */

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button-container .submitbutton{
    /*margin: 0;*/
}

.submitbutton {
    cursor: pointer; 
    width: auto;
    min-width: 10em;
    padding: 1em; 
    background: #FFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.submitbutton:focus,  .submitbutton:hover, .submitbutton:active{
    color: #fff;
    background: #426B81;
}

.cancelbutton {
    color: #D35836;
    border-color: #D35836;
}
.cancelbutton:focus,  .cancelbutton:hover, .cancelbutton:active{
    color: #fff;
    background: #D35836;
}

/* Dropdown select */

select {
    padding: 0.4em;
    padding-left: 0.4em;
    margin-bottom: 2em;
    width: 100%;
    font-size: 1.1em;

    background: #426B81;
    color:#fff;
    border:none;
    outline:none;
    display: inline-block;
    cursor:pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

label.select-label {
    position:relative;
}
label.select-label:after {
    content:'<>';
    color: #fff;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}
label.select-label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#426B81;
    position:absolute;
    pointer-events:none;
}

/* Error message */
.error {
    color: #D35836;
    margin-bottom: 0.5em;
}

/*********************************************************************************/
/* Search Results                                                                */
/*********************************************************************************/

table {
    width: 100%;
    border-collapse: separate;
}

tr {
    border-bottom: 2px solid #426B81;
}
td {
    padding: 1em 0;
}

/*********************************************************************************/
/* Navigation                                                                    */
/*********************************************************************************/

nav {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4em;
    background-color: #426B81;
}

.navigation {

  width: 60%;
  height: 100%;
  list-style: none;
  margin: 0 auto; 
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding-top: 1.5em;
  padding-right: 2em;
  color: #fff;
  height: 100%;
}

.navigation a:hover, .navigation a:active {
  color: deepskyblue;
}

.navigation li:last-of-type a {
    padding-right: 0;
}

.flex-fill {
    flex-basis: 0;
    flex-grow: 20;
}

.nav-svg {
    height: 100%;
    width: auto;
    padding-left: 2em;
}
.nav-svg a {
    position: absolute;
    margin-left: -2em;
    /*display: initial;*/
    padding: 0;
    /*margin-top: 50%;*/
}

.nav-svg svg {
    
    fill: #fff;
    height: 2em;
    width: 2em;
    height: 100%;
    -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
    transition: all 0.5s;    
}

.nav-svg:hover svg, .nav-svg:active svg {
    fill: deepskyblue;
}

a.nav-request {
    color: #D35836;
    font-size:2em;
    padding-top:0.5em;
    padding-right: 1em;
}

/*#searchfield input[type="search"]{
    border: none;
    width: 10em;
    height: 1em;
    background: #fff;
}
#searchfield input[type="submit"] {
    width: auto;
    border: none;
    height: 1em;
    padding: 0;
}*/

/*********************************************************************************/
/* Media                                                                         */
/*********************************************************************************/

@media all and (max-width: 1100px) {
    .navigation {
        width: 80%;
    }
    
    header span {
        width: 100%;
    }
    header h1 span:first-of-type {
        width: inherit;
    }
    .container {
        width: 80%;
    }
}

@media all and (max-width: 800px) {
  .navigation {
      width: 90%;
  }
  .container {
      width: 90%;
  }
  .forms {
      width: 100%;
  }
  input {
      width: 100%;
  }
}

@media all and (max-width: 650px) {
    header .img {
        height: 45em;
    }
    .container {
        margin-top: 5em;
    }
}
