@charset "utf-8";
/* CSS Document */

/** * Reset CSS */ html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/*------------------------*\
	STRUCTURE
\*------------------------*/

html, body {
background-color: #d2d2d2;
height: 100%;
font-family:Verdana, Geneva, sans-serif;
}

body {
width:80%;
margin-left:auto;
margin-right:auto;
background-color:#c2c2c2;
line-height:150%;
position:relative;
}

h1 {
font-size:30px;
}

h2 {
font-size:20px;	
}

.header img {
max-width: 1920px;
max-height:250px;
width: 100%;
height: auto;
position: absolute;
top: 0;
-moz-box-shadow:1px 1px 6px #292929; /* Firefox */
-webkit-box-shadow:1px 1px 6px #292929; /* Chrome, Safari */
-khtml-box-shadow:1px 1px 6px #292929; /* Konqueror */
box-shadow:1px 1px 6px #292929; /* CSS3 */
}

small {
font-size:10px;
}

.container  {
width: 70%;
min-height: calc(100% - 100px);
position:absolute;
left:0;
-moz-box-shadow:1px 1px 6px #292929; /* Firefox */
-webkit-box-shadow:1px 1px 6px #292929; /* Chrome, Safari */
-khtml-box-shadow:1px 1px 6px #292929; /* Konqueror */
box-shadow:1px 1px 6px #292929; /* CSS3 */
background-color:#c2c2c2;
padding: 50px 25% 0px 5%;
text-decoration: none;
color: #000;
top:100px;
}

.container .sidebar {
width: 20%;
float: right;
position:absolute;
right:0px;
top:50px;
}

.container .stripe {
width: 1px;
float:right;
right:22%;
box-shadow: 1px 1px 20px #000000;
min-height:100%;
position:absolute;
top: 0px;
}

.container .sidebar a {
color:#000;
}

strong {
font-weight:bold;
}

.container  table.forms td {
min-width: 50px;
border:none;
vertical-align:top;
}

.container  table.forms td.profil {
min-width:250px;
}

.container  a {
text-decoration:none;
}

.container  tr.title {
background-color:#CCC;
font-weight:bold;
}

.container  table {
max-width:95%;
}

.container  td {
border: solid 1px;
padding-left:10px;
padding-right: 30px;
}

sup{
font-size:.8em;
line-height: 2em;
}

input {
color: #000000; 
font-size: 12px; 
border: 2px solid #808080; 
background-color: #FFF0FF; 
height: 22px; 
width: 90%;
padding: 3px;
margin-bottom: 10px;
}

select {
color: #000000; 
font-size: 12px; 
border: 1px solid #c0c0c0; 
background-color: #FFF0FF; 
height: 22px; 
width: 250px; 
padding: 3px;
margin-bottom: 10px;
}

.submitbutton {
cursor: pointer; 
font: 12px Verdana,sans-serif; 
color: #d2d2d2; 
background-color: #595a5b; 
width: 120px; 
padding: 5px; 
line-height: 130%;
}

.small a{
font-size:12px;
}

.container .footer {
background-color:#555;
height: 40px;
text-align:center;
color: #FFF;
line-height:250%;
position:absolute;
bottom:-40px;
width:100%;
-moz-box-shadow:1px 1px 6px #292929; /* Firefox */
-webkit-box-shadow:1px 1px 6px #292929; /* Chrome, Safari */
-khtml-box-shadow:1px 1px 6px #292929; /* Konqueror */
box-shadow:1px 1px 6px #292929; /* CSS3 */
left: 0;
}

.footer a {
color:#FFF;
text-decoration:none;
}



.error{
	color: red;
	font-size: 16px; 
  	font-style: italic;
}
/*------------------------*\
	NAVIGATION
\*------------------------*/


#nav
{
width: 100%;
position:absolute;
height: 50px;
background-color:#555;
-moz-box-shadow:1px 1px 6px #292929; /* Firefox */
-webkit-box-shadow:1px 1px 6px #292929; /* Chrome, Safari */
-khtml-box-shadow:1px 1px 6px #292929; /* Konqueror */
box-shadow:1px 1px 6px #292929; /* CSS3 */
top:50px;
width:100%;
z-index:500;

}

#nav ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#nav ul a
{
	display:block;
	color:#FFF;
	text-decoration:none;
	font-size:17px;
	padding:0 0 0 20px;
	line-height:50px;
	width:150px;
}

#nav ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
	border-right:solid 1px;
}

#nav ul li.current-menu-item
{
	background:#777;
}

#nav ul li:hover {
-moz-box-shadow:1px 1px 1px 1px #292929; /* Firefox */
-webkit-box-shadow:1px 1px 1px 1px #292929; /* Chrome, Safari */
-khtml-box-shadow:1px 1px 1px 1px #292929; /* Konqueror */
box-shadow:1px 1px 1px 1px #292929; /* CSS3 */
background:#777
}

#nav ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#555;
	padding:0
}

#nav ul ul li
{
	float:none;
	width:220px
}

#nav ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#nav ul ul ul
{
	top:0;
	left:100%
}

#nav ul li:hover > ul
{
	display:block
}
